<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.admin.list_clients}">Clients</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:include="fragments/header :: header"></header>
<div class="container mt-5">
    <h3 class="mb-5 text-center" th:text="#{label.admin.list_clients}">Clients</h3>

    <form method="post" th:action="@{/admin/promote-client}">
        <div class="list-group">
            <th:block th:each="item : ${page}">
                <input name="client-id" class="d-none" type="radio"
                       th:id="${'client-' + item.id}" th:value="${item.id}">

                <label th:for="${'client-' + item.id}"
                       class="form-check-label list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${item.name}">
                            User Name
                        </h5>
                        <p th:text="${item.id}">
                            Id
                        </p>
                    </div>
                    <p class="mb-1" th:text="${item.email}">
                        Email
                    </p>
                    <p class="mb-1" th:text="${item.role}">
                        Role
                    </p>
                </label>
            </th:block>
        </div>
    </form>
    <div class="mt-1 d-flex justify-content-between">
        <div class="w-25 text-left">
            <a th:if="${page.hasPrevious()}" th:href="@{/admin/clients(page=${page.number - 1},size=${page.size})}">Previous</a>
        </div>
        <div class="w-50 text-center">
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                <a th:href="@{/admin/clients(page=${i},size=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
        </div>
        <div class="w-25 text-right">
            <a th:if="${page.hasNext()}" th:href="@{/admin/clients(page=${page.number + 1},size=${page.size})}">Next</a>
        </div>
    </div>
</div>
</body>
</html>