<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.client.previous_orders}">Orders</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="container my-5">
    <h3 class="mb-5 text-center">Orders</h3>
    <div class="list-group">
        <th:block th:each="order : ${page}">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 mb-2 justify-content-between">
                    <h5 th:text="${#temporals.format(order.date, 'dd.MM.YYYY HH:mm')}">
                        Date
                    </h5>
                </div>
                <div class="mb-1">
                    <h5 th:text="#{label.service}">Service</h5>
                    <p><span th:text="${order.service.name}">Name</span> - $<span
                            th:text="${order.service.price}">Price</span></p>
                </div>
                <div class="mb-1">
                    <h5 th:text="#{label.worker}">Worker</h5>
                    <p><span th:text="${order.worker.name}">Name</span></p>
                </div>
            </div>
        </th:block>
    </div>
    <div class="mt-1 d-flex justify-content-between">
        <div class="w-25 text-left">
            <a th:if="${page.hasPrevious()}" th:href="@{/client/orders(page=${page.number - 1},size=${page.size})}">Previous</a>
        </div>
        <div class="w-50 text-center">
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                <a th:href="@{/client/orders(page=${i},size=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
        </div>
        <div class="w-25 text-right">
            <a th:if="${page.hasNext()}" th:href="@{/client/orders(page=${page.number + 1},size=${page.size})}">Next</a>
        </div>
    </div>
</div>
</body>
</html>