<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select timeslot</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="container my-5">
    <h3 class="mb-5 text-center" th:text="#{label.client.select_timeslot}">Select timeslot</h3>

    <form method="post">
        <div class="list-group">
            <th:block th:each="timetable : ${timetables}">
                <p class="mt-3 mb-1" th:text="${timetable.date}">
                    Date
                </p>
                <div class="list-group">
                    <div th:if="${timetable.rows.isEmpty()}" class="list-group-item text-secondary">
                        No available places
                    </div>
                    <th:block th:each="row : ${timetable.rows}" th:switch="${row.order == null}">
                        <th:block th:case="${true}">
                            <input name="timeslot-id" type="radio"
                                   class="d-none" th:id="${'timeslot-' + row.id}" th:value="${row.id}">

                            <label th:for="${'timeslot-' + row.id}"
                                   class="radio-label form-check-label list-group-item list-group-item-action flex-column align-items-start">
                                <h5 class="mb-1">
                                    <span th:text="${row.fromTime}">fromTime</span>
                                    to
                                    <span th:text="${row.toTime}">toTime</span>
                                </h5>
                                <p class="text-success">
                                    Available
                                </p>
                            </label>
                        </th:block>
                        <th:block th:case="${false}">
                            <div class="list-group-item flex-column align-items-start">
                                <h5 class="mb-1">
                                    <span th:text="${row.fromTime}">fromTime</span>
                                    to
                                    <span th:text="${row.toTime}">toTime</span>
                                </h5>
                                <p class="text-secondary">
                                    Booked
                                </p>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
        </div>
        <button class="w-25 mx-auto my-5 btn btn-primary btn-lg btn-block" type="submit">Next</button>
    </form>
</div>
</body>
</html>

