<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/}">
            <span th:text="#{label.app_name}">AppName</span>
            <span sec:authorize="hasAuthority('WORKER')" class="badge badge-success">Worker</span>
            <span sec:authorize="hasAuthority('ADMIN')" class="badge badge-danger">Admin</span>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <span class="nav-link"><span th:text="#{label.logged_in_as}">Logged in as</span>
                            <strong sec:authentication="name">Name</strong></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="#{label.log_out}">Log out</a>
                    </li>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" th:text="#{label.log_in}">Log in</a>
                    </li>
                </th:block>
            </ul>
            <ul class="navbar-nav"
                th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
                <li class="nav-item">
                    <a class="nav-link" th:text="#{label.locale.en}"
                       th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('locale', 'en').toUriString()}">
                        English
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{label.locale.uk}"
                       th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('locale', 'uk').toUriString()}">
                        Ukrainian
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:if="${message != null}" th:text="${message}" class="alert alert-warning text-center fixed-alert"
         role="alert">
    </div>
</header>