<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="d-flex h-100 justify-content-center align-items-center">
    <form class="w-25" method="post">
        <h3 class="pb-3 text-center" th:text="#{label.log_in}">
            Log in
        </h3>

        <label for="inputEmail" class="sr-only"></label>
        <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Your email" required=""
               autofocus="">

        <label for="inputPassword" class="sr-only"></label>
        <input name="password" type="password" id="inputPassword" class="mt-1 form-control" placeholder="Password"
               required="">

        <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit" th:text="#{label.log_in}">
            Log in
        </button>
    </form>
</div>
</body>
</html>

